{% extends 'staff_base.html' %}
{% load static %}
{% block notification %}
 <h3 class="card-title">KTU Notification </h3>
        <div class="activity">

                <div class="activity-item d-flex">

                  <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>

                    &nbsp;&nbsp;<b>{{ notif.data1 }}</b>

                </div><!-- End activity item-->
<br>
                <div class="activity-item d-flex">

                    <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>
                    &nbsp;&nbsp;<b>{{ notif.data2 }}</b>
                  </div>
                </div><!-- End activity item-->
<br>
                <div class="activity-item d-flex">

                    <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>
                    &nbsp;&nbsp;<b>{{ notif.data3 }}</b>
                  </div>
                </div><!-- End activity item-->
                <br>
                <div class="activity-item d-flex">

                    <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>
                    &nbsp;&nbsp;<b>{{ notif.data4 }}</b>
                  </div>
                </div><!-- End activity item-->
    <br>
                <div class="activity-item d-flex">

                    <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>
                    &nbsp;&nbsp;<b>{{ notif.data5 }}</b>
                  </div>
                </div><!-- End activity item-->
<br>
                <div class="activity-item d-flex">

                    <i class="bi bi-circle-fill activity-badge text-success align-self-start btn-sm"></i>
                    &nbsp;&nbsp;<b>{{ notif.data6 }}</b>
                  </div>
                </div><!-- End activity item-->

              </div>



{% endblock %}


{% block content %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          
          {% for message in messages %}
  
                    <div class="alert alert-success alert-dismissible fade show" role="alert">

                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    
                    </div>
            
          {% endfor %}

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ staff_details.Profile_photo.url }}" alt="Profile" class="rounded-circle">
              <h2>{{context.name}}</h2>
              <!-- <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>>
            -->
            </div>
          </div>

        </div>

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
<!--
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>
              -->
                <li class="nav-item">
                  <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>
                  
              </ul>
              <div class="tab-content pt-2">







                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="post">
                  {% csrf_token %}

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="current_password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="new_password" type="password" class="form-control" id="newPassword" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renew_password" type="password" class="form-control" id="renewPassword" required> 
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="change_password" >Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% block custom_js %}
  
  <script>
    
    var password = document.getElementById("newPassword"), confirm_password = document.getElementById("renewPassword");
  
  
      function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      newPassword.onchange = validatePassword;
      renewPassword.onkeyup = validatePassword;
  
  </script>
    
  {% endblock custom_js %}

{% endblock %}